tr{
    border-bottom: 1px solid #ddd;
}

table, td{
    border: 1px solid black;
    border-collapse: collapse;
   
}

th{
    background-color: #96D4D4;
}
.container{
    background-color: #96D4D4;
    margin: 15px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}

.container input{
    border:  2px solid black;
    padding: 5px;
    width: auto;
    margin-bottom: 15px;
}

*{
    margin: auto;
    padding: auto;
}